@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:10px;
  margin-bottom:-10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a{
  text-decoration: none;
  color:darkslategrey
}
*{
  list-style-type: none;
}

ul,
li{
  padding:0;
  display: flex;

}
.footer{
  display: flex;
  align-items: flex-end;
  margin-top: 150px;
  background-color: lightgray;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.header,
.footer{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
}

li{
  margin-right:25px;
}
